/*************************************** Header ***************************************/

header {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 20px;
}

header nav ul {
  list-style-type: none;
}

header #siteNavContainer {
  width: 100%;
}


@media screen and (min-width: 700px) {
  header {
    flex-direction: column-reverse;
    gap: 0;
    padding-bottom: 0;
  }

  header #siteNavContainer {
    /* margin-bottom: 20px; */
  }

  header #sectionNavContainer {
    width: 100%;
    /* padding: 20px; */
  }
}

/* Site Nav */

nav#siteNav {
  flex: 1;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
}

nav#siteNav a#navLogoSmall {
  margin-right: auto;
}

nav#siteNav a#navLogoSmall img {
  display: block;
  width: 30px;
}

nav#siteNav a#navLogoLarge {
  display: none;
}

@media screen and (min-width: 700px) {
  nav#siteNav {
    gap: 25px;
    width: 100%;
  }

  nav#siteNav a#navLogoSmall {
    display: none;
  }

  nav#siteNav a#navLogoLarge {
    display: unset;
    max-width: 200px;
    margin-right: auto;
    padding: 5px 20px 20px;

    background-color: black;
  }

  nav#siteNav #navLogoLarge img {
    width: 100%;
  }
}

/* Section Nav */

#largeScreenSectionNav {
  display: none;
}

button#menuIcon {
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media screen and (min-width: 700px) {
  button#menuIcon {
    display: none;
  }

  #largeScreenSectionNav {
    display: unset;

    font-family: var(--font-family-secondary);
    font-weight: 600;
    font-size: 1.4em;
  }

  #largeScreenSectionNav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 0 20%;
    padding: 25px 0;
  }

  #largeScreenSectionNav li {
    height: 100%;
  }

  #largeScreenSectionNav li a {
    display: block;
    text-align: center;
    border-bottom: 2px solid transparent;
  }

  #largeScreenSectionNav li a:hover {
    border-color: var(--color-highlight-primary);
  }
}