#productModal {
  position: fixed;
  z-index: 50001;
  top: 10%;
  left: 50%;

  display: flex;
  flex-direction: column;
  gap: 15px;
  width: min(96%, 600px);
  padding: 15px;

  background-color: var(--color-bg-primary);
  border-radius: 5px;
  font-size: 1em;

  animation: appear 300ms forwards;
}

/* Form */

#productModal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#productModal form #formPrices {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

#productModal form #formPrices input {
  max-width: 7em;
}

#productModal form .formInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#productModal form .formInput label {
  font-weight: 700;
}

#productModal form span#currentImageValue {
  margin-left: 10px;

  font-size: 0.8em;
  font-style: italic;
  font-weight: 300;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(-50%, 40%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}