.toast {
  position: fixed;
  left: 50%;
  bottom: 20px;
  padding: 10px;

  background-color: var(--color-bg-secondary);
  border-radius: 5px;

  animation: toastAppear 300ms ease-out forwards;
}

@keyframes toastAppear {
  from {
    transform: translate(-50%, 30px);
  }

  to {
    transform: translate(-50%, 0);
  }
}